div{
    /* border: 1px solid black; */
    line-height: 40px;

}

#cityName{
    font-weight: bold;
    font-size: 24px;
}

.weather-container{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 30px;
    width: 800px;
    height: 400px;
    right: 50px;
}

#searchedCity{
   font-weight:bold;
   font-size: 24px;
   background-color:rgb(241, 241, 241);
   height: 700px;
   left:15px;
}

#footer{
    width:100%;
    text-align:center;
    background-color: darkgray;
    position: absolute;
    bottom:0;
    height:4%
}

table{
    font-weight:normal;
    font-size: 16px;
    text-align:center;
}
