div{
    /* border: 1px solid black; */
    line-height: 20px;

}

#footer{
    width:100%;
    text-align:center;
    background-color: darkgray;
    position: fixed;
    bottom:0;
    height:4%
}

.uv-span{
    color: #fff;
    padding-left:5px;
    padding-right:5px;
    border-radius: 5px;
}


